@import "normalize";

@mixin hidden() {
    display: none;
}

@mixin visible() {
    display: block;
}

html {
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 Oxygen,
                 Ubuntu,
                 Cantarell,
                 "Open Sans",
                 "Helvetica Neue",
                 sans-serif;
}

body {
    padding: 2em;
}

h1 {
    margin: 0 0 .25em;
}

.question {
    font-weight: bold;
    margin-top: 2em;
}

.answer {
    font-style: italic;
}

.hidden {
    @include hidden();
}

footer {
    margin-top: 2em;
}

#q1a:checked ~ #q1a2 { @include visible(); }
#q1b:checked ~ #q1b2 { @include visible(); }
#q1c:checked ~ #q1c2 { @include visible(); }

#q1a2a:checked ~ #q1a2a3 { @include visible(); }
#q1a2b:checked ~ #q1a2b3 { @include visible(); }
#q1a2c:checked ~ #q1a2c3 { @include visible(); }

#q1b2a:checked ~ #q1b2a3 { @include visible(); }
#q1b2b:checked ~ #q1b2b3 { @include visible(); }
#q1b2c:checked ~ #q1b2c3 { @include visible(); }

#q1c2a:checked ~ #q1c2a3 { @include visible(); }
#q1c2b:checked ~ #q1c2b3 { @include visible(); }
#q1c2c:checked ~ #q1c2c3 { @include visible(); }

#q1a2a3a:checked ~ #q1a2a3a4 { @include visible(); }
#q1a2a3b:checked ~ #q1a2a3b4 { @include visible(); }
#q1a2a3c:checked ~ #q1a2a3c4 { @include visible(); }

#q1a2b3a:checked ~ #q1a2b3a4 { @include visible(); }
#q1a2b3b:checked ~ #q1a2b3b4 { @include visible(); }
#q1a2b3c:checked ~ #q1a2b3c4 { @include visible(); }

#q1a2c3a:checked ~ #q1a2c3a4 { @include visible(); }
#q1a2c3b:checked ~ #q1a2c3b4 { @include visible(); }
#q1a2c3c:checked ~ #q1a2c3c4 { @include visible(); }

#q1b2a3a:checked ~ #q1b2a3a4 { @include visible(); }
#q1b2a3b:checked ~ #q1b2a3b4 { @include visible(); }
#q1b2a3c:checked ~ #q1b2a3c4 { @include visible(); }

#q1b2b3a:checked ~ #q1b2b3a4 { @include visible(); }
#q1b2b3b:checked ~ #q1b2b3b4 { @include visible(); }
#q1b2b3c:checked ~ #q1b2b3c4 { @include visible(); }

#q1b2c3a:checked ~ #q1b2c3a4 { @include visible(); }
#q1b2c3b:checked ~ #q1b2c3b4 { @include visible(); }
#q1b2c3c:checked ~ #q1b2c3c4 { @include visible(); }

#q1c2a3a:checked ~ #q1c2a3a4 { @include visible(); }
#q1c2a3b:checked ~ #q1c2a3b4 { @include visible(); }
#q1c2a3c:checked ~ #q1c2a3c4 { @include visible(); }

#q1c2b3a:checked ~ #q1c2b3a4 { @include visible(); }
#q1c2b3b:checked ~ #q1c2b3b4 { @include visible(); }
#q1c2b3c:checked ~ #q1c2b3c4 { @include visible(); }

#q1c2c3a:checked ~ #q1c2c3a4 { @include visible(); }
#q1c2c3b:checked ~ #q1c2c3b4 { @include visible(); }
#q1c2c3c:checked ~ #q1c2c3c4 { @include visible(); }
